.main-header{
	background: #031E33;
	color: white;
	height: 60px;
	padding: 15px 0;
}

/*.header-img{
	padding: 10px;
}*/
.bootstrap-select > .btn {
    width: 100%;
    padding-right: 25px;
    background: transparent;
    color: white;
    border: none;
    margin-top: -6%;
    font-size: 12px
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover{
  color: #fff;
background-color: transparent;
border-color: #8c8c8c;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default{
  color: #fff;
background-color: transparent;
border-color: #adadad;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background: transparent;
}


.header-img img{
	max-width: 155px
}

.header-right-content{
	padding-top: 10px;
	font-size: 11px;
  display: flex;
  justify-content: right
}

.header-right-content a{
	color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    /*background: green;*/
    margin-left: 1%;
    border-radius: 2px;
}

.main-body{
	background: #F5F7F8;
	position: relative;
}

/*form*/
form {
	max-width: 500px;
	margin: 4em auto;
	padding: 4em 5em 4em 5em;
	background: #fff;
	/*border: 1px solid #ebebeb;*/
	box-shadow: 0 0 20px #ddd;
}
.reset-form {
	max-width: 570px;
	margin: 4em auto;
	padding: 4em 5em 4em 5em;
	background: #fff;
	/*border: 1px solid #ebebeb;*/
	box-shadow: 0 0 20px #ddd;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}
.reset-group { 
	position: relative; 
	margin-bottom: 15px; 
	margin-top:25px;
}

input {
	/*font-size: 18px;*/
	/*padding: 10px 10px 10px 5px;*/
	-webkit-appearance: none;
	display: block;
	background: #fff;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 0px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	 font-size: 14px; 
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

.no-padding{
	padding: 0
}
.mat-form-button{
	padding: 10px;
	float:right;
	width: 70%;
	background: #5d96ea;
	border: none;
	border-radius: 5px;
	color: #fff;
}
.mat-form-button:hover{
	box-shadow: 0 0 20px #ddd
}
.reset-mat-form-button{
	padding: 10px;
	width: 70%;
	background: #5d96ea;
	border: none;
	border-radius: 5px;
	color: #fff;
}
.reset-mat-form-button:hover{
	box-shadow: 0 0 20px #ddd
}
.reset-form small{
	margin-bottom: 10%;
	color: #777
}
.mat-form-button1{
	padding: 10px;
	width: 70%;
	margin:2em auto;
	background: #53be8a;
	color: white;
	border: none;
	border-radius: 5px
}
.mat-form-button1:hover{
	box-shadow: 0 0 20px #ddd
}
.form-h4{
	font-size: 23px;
	font-weight:500;
	margin-bottom: 15%;
	color: #777;
}
.form-reset-h4{
	font-size: 23px;
	font-weight:500;
	margin-bottom: 3%;
	color: #777
}


.anc-style{
	margin-top: 5%
}

.anc-style a{
	font-size: 12px
}

.reg-des{
	margin:6em auto;
}

.container{
	max-width: 960px
}
.reg-des p{
	font-size: 32px !important;
	margin-bottom: 5px;
	color: #777
}
.reg-des small{
	font-size: 18px;
	font-weight:300;
	color: #777
}
.reg-des .small-font{
	font-size: 9px;
	margin-top: 10%
}
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.flex-container > div{
	text-align: center;
	height: 100px;
	width: 100px;
	margin:1em;
}
.flex-container img{
	
	height: 100px;
	width: 100px;
	
}
.form-footer{
	background: #3D4144;
	padding: 4em 5em 4em 5em;
}

.social-links a{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: .5px solid #fff;
	text-align: center;
	color: white;
	margin:2px;
	font-size: 11px;
	padding: 3px
}

.social-links a:hover{
	background: #ddd;

}

.form-footer p{
	font-size: 11px;
	color: #7a899f;
	text-align: justify;
}

.form-control-feedback{
	top :-10px
}


.footer_menu{
	padding: 30px 0 0 0;
}
.footer_menu li{
	display: inline-block;
}
.footer_menu a{
	color: white;
	border-bottom: 1px solid transparent;
	font-size: 12px
}
.footer_menu li:not(:last-child)::after {
    content: '|';
    display: inline-block;
    color: white;
    padding: 0 25px;
}

@media (max-width: 768px){
	.mat-form-button{
		float: none;
		margin-top:5%;
	}
	.form-h4{
		font-size: 18px
	}

	form{
		padding: 4em 2em 4em 2em;
	}
	.reg-des{
		margin:4em auto;
	}
	/*.container{
		width: 100%
	}*/
	.form-footer{
		padding: 4em 0 0 0;
		text-align: justify;
	}
	.reset-form{
		padding: 2em;
	}
	.flex-container img{
		width: 80px;
	}
	.header-right-content{
		display: block;
		margin-top: -15%;
		font-size: 9px
	}
	.footer_menu li:not(:last-child)::after {
    
    padding: 0 10px;
}

}